.cover__link {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: 32px;
	width: 100%;
	color: inherit;
	text-decoration: none;
	background: rgba(0, 0, 0, 0);
	transition: background 0.2s ease-in;
}

.cover__link:hover {
	background: rgba(0, 0, 0, 0.3);
	transition: background 0.2s ease-in;
}

@media screen and (max-width: 425px) {
  .cover__link {
    row-gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    max-width: 288px;
  }
}