.cover__link {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: 32px;
	height: 100%;
	width: 100%;
	background-image: url('../../../images/cover__background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	color: inherit;
	text-decoration: none;
	position: relative;
}

@media screen and (max-width: 425px) {
  .cover__link {
    row-gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    max-width: 288px;
  }
}