.lead__subtitle {
  box-sizing: border-box;
  max-width: 640px;
  margin: 0 auto 64px;
  font-size: 1.88rem;
  line-height: 1.17;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    max-width: 88.89%;
    font-size: calc( (100vw - 20rem)/(48 - 20) * (1.875 - 1) + 1rem);
  }
}