.cover {
  max-width: 92.5%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  position: relative;
  aspect-ratio: 1184 / 740;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
  }
}