.place {
  display: grid;
  grid-template-columns: repeat(2, minmax(340px, 460px));
  row-gap: 48px;
  column-gap: 40px;
  padding-bottom: 80px;
}

.place:last-child {
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: repeat(2, minmax(340px, 440px));
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(320px, 340px) minmax(320px, 352px);
    column-gap: 28px;
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 750px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }
}

@media screen and (max-width: 425px) {
  .place {
    row-gap: 32px;
    padding-bottom: 50px;
  }
}