.footer {
	margin: 0 auto;
	max-width: 92.5%;
	padding: 92px 0 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 93.75%
  }
}

@media screen and (max-width: 750px) {
  .footer {
    padding-left: 16px;
    align-items: baseline;
    column-gap: 32px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding-top: 64px;
    flex-direction: column;
    row-gap: 48px;
  }
}