.place__description {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

@media screen and (max-width: 768px) {
  .place__description {
    row-gap: 25px;
  }
}

@media screen and (max-width: 425px) {
  .place__description {
    max-width: 90%;
    padding: 0 16px;
  }
}